* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #4b4b4b;
    line-height: 1.6;
    overflow-x: hidden;
    max-width: 100%;
    padding-top: 90px; /* Zabráni prekrývaniu obsahu hlavičkou */
}

.container {
    width: 92%;
    max-width: 1500px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    overflow: hidden;
}